.contentWrapper {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.education {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.introduction {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.introductionEle1 {
  display: inline-block;
  text-align: end;
  width: 100%;
  align-items: center;
  margin: 0 20px;
}

.introductionEle2 {
  display: inline-block;
  width: 450px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  height: 300px;
  margin: 0 20px;
  border: 2px solid black;
  box-shadow: 3px 3px 10px 2px grey;
}

.Header.AnotherHeader {
  text-align: start;
  margin-top: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Header {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Descrip {
  text-align: start;
  font-weight: 300;
}

.profile_picture {
  margin-left: -20%;
  margin-top: -10%;
  height: 100%;
  width: auto;
  transform: scale(1.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.Montfort,
.KMUTT {
  font-weight: 300;
  margin-top: 40px;
}

.Montfort .Subheader,
.KMUTT .Subheader {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0;
}

.EducationLocation button {
  width: 150px;
  height: 35px;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 2px 2px 8px 1px grey;
  cursor: pointer;
  transition: 0.5s;
}

.EducationLocation {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.SkillsSubheader {
  margin: 0 auto;
  width: 80%;
  text-align: start;
  font-size: 2rem;
  font-weight: 400;
}

.LanguageSubHeader {
  margin: 0 auto;
  width: 80%;
  text-align: start;
  font-size: 3rem;
  font-weight: 400;
}

div.ThaiEnglish {
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr 5fr;
  gap: 50px;
}

div.ThaiEnglish div:nth-child(2),
div.ThaiEnglish div:nth-child(3),
div.ThaiEnglish div:nth-child(5),
div.ThaiEnglish div:nth-child(6) {
  font-weight: 700;
}

div.ThaiEnglish div:nth-child(3),
div.ThaiEnglish div:nth-child(6) {
  transition: 0.8s;

  transform: translate(-100px, 0);
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

.ProgramLang {
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 50px;
}

.ToolFramework {
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 50px;
}

.Graphic {
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 50px;
}

.office365 {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 1px grey;
}

.ProgramLang img,
.ToolFramework img,
.Graphic img {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeIn {
  100% {
    transform: translate(0, 0);
    opacity: 1;
    color: black;
  }
}
