.Menu {
  padding: 10px;
  width: 95%;
  text-align: end;
  display: block;
  font-size: 2em;
}

@media only screen and (max-width: 1024px){
  .wrapper {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease, opacity .2s ease, max-height .2s ease-in;
  }

  .wrapper li {
    display: block;
    padding: 5px;
    background-color: #a9d0dd;
    border: 1px solid rgba(128, 128, 128, 0.171);
  }

  .wrapper ul {
    text-align: center;
    width: 100%;
    padding: 0px;
    transition: .8s;
  }

  .wrapper li::after {
    display: none;
  }
}

ul {
  text-align: end;
  width: 95%;
  padding: 10px;
}

a,
a:hover {
  color: #132743;
  cursor: pointer;
  text-decoration: none;
}

li {
  display: inline-block;
  padding-bottom: 3px;
  padding-right: 50px;
  font-size: 1.5em;
}

li:last-child {
  padding-right: 0;
}

li::after {
  content: "";
  display: block;
  margin: auto;
  height: 4px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
li:hover::after {
  cursor: pointer;
  width: 100%;
  background: #ff9baa;
}

li.active::after {
  width: 100%;
  background: #ff6187;
}