.Wrapper {
  width: 95%;
  margin: 0 auto;
}

.animate {
  font-size: 4.5em;
  margin: 200px auto;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  text-shadow: 3px 3px #5e4646;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animate span {
  display: inline-block;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
  font-weight: 700;
}

.animate::after {
  content: "";
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  animation: widthExpanding 1s forwards 2.6s;
  text-shadow: 3px 3px #ff6187;
}

.animate::before {
  content: "";
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  animation: widthExpanding 1s forwards 2.6s;
  text-shadow: 3px 3px #ff6187;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(6) {
  animation-delay: 1s;
}
.animate span:nth-of-type(7) {
  animation-delay: 1.2s;
}
.animate span:nth-of-type(8) {
  animation-delay: 1.4s;
}
.animate span:nth-of-type(9) {
  animation-delay: 1.6s;
}
.animate span:nth-of-type(10) {
  animation-delay: 1.8s;
}
.animate span:nth-of-type(11) {
  animation-delay: 2s;
}
.animate span:nth-of-type(12) {
  animation-delay: 2.2s;
}
.animate span:nth-of-type(13) {
  animation-delay: 2.4s;
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: black;
  }

  60% {
    color: #f8d5d5;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

@keyframes widthExpanding {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    background-color: #ff6187;
  }
}

@keyframes increaseSize {
  100% {
    font-size: 1.5em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .animate {
    
    font-size: 2em;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animate {
    
    font-size: 4.5em;
    width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animate {
    
    font-size: 3.5em;
    width: 75%;
  }
}

